/*------------------------------------------------------------Body content Testamonials----------------------------------------------------*/


.slideshow-container {
    max-width: 1000px; /* Adjust as necessary */
    position: relative;
    margin: auto;
}

.mySlides {
    display: none; /* Hide all slides by default */
    width: 60em; /*Slide width*/ 
   position: relative; 
}
.mySlides iframe {
    width: 600px;  /* Adjust the width as needed */
    height: 600px; /* Adjust the height as needed */
    border: none;   /* Optional: Removes the border */
}
/*

.mySlides.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
*/
/* Add styles for Next & Prev buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    /* Use a higher z-index to ensure the buttons are above everything else */
    z-index: 1000;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit of see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Fading animation 
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
*/
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }




/*------------------------------------------------------------------------------------------------------------------------------------*/